# a.iris資集介紹

## 匯入模組

In [1]:
import numpy as np
import pandas as pd
from keras.utils import np_utils
np.random.seed(10)
import matplotlib.pyplot as plt
import os
print(os.listdir('./input'))
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder #labelEncoder
from sklearn.preprocessing import OneHotEncoder #one-hot-code
from sklearn.model_selection import train_test_split #將X與Y隨機切成訓練與測試

Using TensorFlow backend.

['Iris.csv']

## 讀取Iris.csv資料

In [2]:
all_df = pd.read_csv('./input/Iris.csv')

In [3]:
all_df

     petal_length  petal_width  sepal_length  sepal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## 選取欄位到dataframe

In [4]:
cols=['petal_length','petal_width','sepal_length','sepal_width','label']
all_df=all_df[cols]

In [5]:
all_df

     petal_length  petal_width  sepal_length  sepal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
#df.describe()

# b.資料預處理

In [7]:
all_df['label']=all_df['label'].map({'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2}).astype(int) #先將label轉成int

In [8]:
df=all_df
df

     petal_length  petal_width  sepal_length  sepal_width  label
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [9]:
Label = df.values[:,4]    #類別
Features = df.values[:,:4] #前4筆是特徵

In [10]:
minmax_scale = preprocessing.MinMaxScaler(feature_range = (0, 1)) #建立MinMaxScaler標準化刻度minmax_scale

In [11]:
scaledFeatures = minmax_scale.fit_transform(Features) #使用minmax_scale.fit_transform進行標準化

In [12]:
x_train, x_test, y_train, y_test = train_test_split(Features, Label, test_size=0.3, random_state=42) #分割資料

In [13]:
y_train_onehot=np_utils.to_categorical(y_train) #將y訓練資料轉成one-hot-code

In [14]:
y_test_onehot=np_utils.to_categorical(y_test) #將y測試資料轉成one-hot-code

In [15]:
print('total:', len(df),
      'train:', len(x_train),
      'test:', len(x_test))

total: 150 train: 105 test: 45

# c.建立模型

## 匯入模組

In [16]:
from keras.models import Sequential
from keras.layers import Dense,Dropout

In [17]:
model = Sequential() #建立keras Sequential模型

WARNING:tensorflow:From C:\Users\Admin2\anaconda3\envs\tf1\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [18]:
model.add(Dense(units=320, input_dim=4,        #建立輸入層與隱藏層1
                kernel_initializer='uniform',
                activation='relu'))

WARNING:tensorflow:From C:\Users\Admin2\anaconda3\envs\tf1\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\Admin2\anaconda3\envs\tf1\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

model.add(Dense(units=70,                     #建立隱藏層2
                kernel_initializer='uniform',
                activation='relu'))

model.add(Dense(units=60,                     #建立隱藏層2
                kernel_initializer='uniform',
                activation='relu'))

In [19]:
model.add(Dense(units=10,                     #建立隱藏層3
                kernel_initializer='uniform',
                activation='relu'))

In [20]:
model.add(Dense(units=3,                      #建立輸出層
                kernel_initializer='uniform',
                activation='softmax'))

In [21]:
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 320)               1600
_________________________________________________________________
dense_2 (Dense)              (None, 10)                3210
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 33
=================================================================
Total params: 4,843
Trainable params: 4,843
Non-trainable params: 0
_________________________________________________________________
None

# d.訓練模型

In [22]:
model.compile(loss='binary_crossentropy',              #定義訓練方式
              optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Admin2\anaconda3\envs\tf1\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\Admin2\anaconda3\envs\tf1\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From C:\Users\Admin2\anaconda3\envs\tf1\lib\site-packages\tensorflow_core\python\ops\nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [23]:
train_history = model.fit(x=x_train_normalize,
                          y=y_train_onehot,
                          validation_split=0.2,    #90%作為訓練資料，10%作為測試資料
                          epochs=110,               #執行120次訓練週期
                          batch_size=41,verbose=2) #每一批次41筆資料

NameError: name 'x_train_normalize' is not defined

# e.以圖形顯示訓練過程的loss & accuracy

In [ ]:
def show_train_history(train_history, train, validation):
    plt.plot(train_history.history[train])
    plt.plot(train_history.history[validation])
    plt.title('Train History')
    plt.ylabel(train)
    plt.xlabel('Epoch')
    plt.legend(['train', 'validation'], loc='upper left')
    plt.show()

In [ ]:
show_train_history(train_history, 'acc', 'val_acc') #畫出accuracy執行結果

In [ ]:
show_train_history(train_history, 'loss', 'val_loss') #畫出loss誤差執行結果

# f.評估模型準確率

In [ ]:
scores = model.evaluate(x=x_test_normalize, #評估模型準確率
                        y=y_test_onehot)
print('accuracy=', scores[1]) #顯示準確率

# g.進行預測

In [ ]:
prediction=model.predict_classes(x_test)
prediction

# h.混淆矩陣(Confusion matrix)

In [ ]:
pd.crosstab(y_test, prediction,
            rownames=['label'], colnames=['predict'])

In [ ]:
df1=pd.DataFrame({'label':y_test, 'predict':prediction})
df1